.DS_Store
.tmp.drivedownload
.tmp.driveupload
.obsidian/client_secret_*.json
.obsidian/text-generator.json
99-PUVODNI/0-1-archive/⌨️ 👾 ✍︎ VÝVOJÁŘ/📀 API ONE.md
05-NAPADY/AI-Tech/🤖 ⭐️ Hlasový AI ASISTANT TUTORIAL.md
06-PRAVNI/TJ-Krupka/APP TJK PROMPT.md
05-NAPADY/AI-Tech/SHELL GPT.md
99-PUVODNI/CHAT GPT API COMPLETE GUIDE.md
templates/OPENAI.template.md
